@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(to bottom, #ffffff, #e0f2fe, #bfdbfe);
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: get#ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}